body
{
    background-color: lightblue;
    margin: 0;
}
ul
{
    list-style-type: none;
    display: inline-block;
    top: 50%;   
}
li
{
    float: left;
    margin: 10px;
}
a:link, a:visited
{
    text-decoration: none;
}
.logo
{
    
    display: inline-block;
    width: 120px;
    height: 50px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar
{
    width: 100%;
    height: 70px;
    background-color: green;

}
.footer
{
    width: 100%;
    height: 70px;
    background-color: green;
    text-align: center;
}
.container
{
    max-width: 950px;
    height: auto;
    margin: 10px auto;
    background-color: lightgray;       
}
.margin-zero
{
    margin: 0;
}
.form label
{
    display: inline-block;
    margin-left: 10px;
    min-width: 170px;
    margin-bottom: 5px;
}
.button
{
    width: 100px;
    height: 30px;
    margin-left: 115px;
    background-color: #2aa348;
    border-radius: 8px;
    border: 2px solid #2b8f43 ;
}
.button:hover
{
    background-color: #1c8c37;
    border: 2px solid #1d7a34 ;

}
.advertising-picture
{
    width: 400px;
    height: 400px;
}
.advertising-picture-bigger 
{
    width: 800px;
    height: 800px;
    border: 5px solid red;
}
.img-container
{
    text-align: center;
}
.required:after
{
    content: "*";
    color: red;
}
.errorMessage
{
    color: red;
}
.aboutText
{
    font-family: Calibri;
    font-size: 16px;
    font-weight: bold;
    text-align: justify;
    margin: 40px;
    
    
}