/*Revision History
Matheus Emidio (1931358) 2021-02-18 Added style for body and all the navbar related
Matheus Emidio (1931358) 2021-02-19 Added style for body content container
Matheus Emidio (1931358) 2021-02-20 Added style for button and forms
Matheus Emidio (1931358) 2021-02-21 Added style for advertising pictures 
Matheus Emidio (1931358) 2021-03-03 Added style for required fields from the form and error messages
Matheus Emidio (1931358) 2021-03-05 Added style for about content of the products
Matheus Emidio (1931358) 2021-03-10 Added style for table
Matheus Emidio (1931358) 2021-03-13 Added style that will be called for by the commands on the URL
#Matheus Emidio (1931358) 2021-04-24 Created login style 
#Matheus Emidio (1931358) 2021-04-30 Create headers for register and update page
#Matheus Emidio (1931358) 2021-05-03 Created style for search



*/

body
{
    background-color: #aad0e6;
    margin: 0;
}
ul
{
    list-style-type: none;
    display: inline-block;
    top: 50%;   
}
li
{
    float: left;
    margin: 10px;
}
a:link, a:visited
{
    text-decoration: none;
}
.logo
{
    
    display: inline-block;
    width: 120px;
    height: 50px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar
{
    width: 100%;
    height: 70px;
    background-color: #db8307;

}
.footer
{
    padding-top: 10px;
    width: 100%;
    height: 90px;
    background-color: #db8307;
    text-align: center;
    
}
.container
{
    max-width: 950px;
    height: auto;
    margin: 10px auto;
    background-color: #b8cbd6;       
}
.margin-zero
{
    margin: 0;
}
.form label
{
    display: inline-block;
    margin-left: 10px;
    min-width: 170px;
    margin-bottom: 5px;
}
.button
{
    width: 100px;
    height: 30px;
    margin-left: 115px;
    background-color: #2aa348;
    border-radius: 8px;
    border: 2px solid #2b8f43 ;
}
.button:hover
{
    background-color: #1c8c37;
    border: 2px solid #1d7a34 ;

}
.advertising-picture
{
    width: 400px;
    height: 400px;
}
.advertising-picture-bigger 
{
    width: 800px;
    height: 800px;
    border: 5px solid red;
}
.img-container
{
    text-align: center;
}
.required:after
{
    content: "*";
    color: red;
}
.errorMessage
{
    color: red;
}
.aboutText
{
    font-family: Calibri;
    font-size: 16px;
    font-weight: bold;
    text-align: justify;
    margin: 40px;
    
    
}
.productTable
{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    padding: 0 15px;
}
td
{
    border: 1px solid black;
    width: 70px;
    height: 70px;
}
th
{
    border: 1px solid black;    
    background-color:#82817d ;
    color: black;
    height: 70px;
}
.buttonCheatsheet
{
    width: 150px;
    height: 30px;
    
    margin-left: 0px;
    background-color: #2aa348;
    border-radius: 8px;
    border: 2px solid #2b8f43 ;
}
.buttonCheatsheet:hover
{
    background-color: #1c8c37;
    border: 2px solid #1d7a34 ;

}
.redColor
{
  color: red;  
}
.lightOrangeColor
{
    color: #f09526;
}
.greenColor
{
    color: #0ecc2e;
}
.whiteBackground
{
    background-color: white;
}
.opacityChange
{
    opacity: 0.3;
}
.login
{
    float: left;
    margin-left: -10px;
    height:60px;
    padding:0;
}
.cheatsheet{
    float: right;
    margin-right:50px;
}
.header
{
    text-align: center;
    color: red;
}
.search
{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}
.table
{
    border: 1px solid black;
}
